In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

titanic_training_data = pd.read_csv('train.csv')

titanic_training_data = titanic_training_data.dropna()

titanic_training_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [32]:
X = titanic_training_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

y = titanic_training_data.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

print(X.head())
print(y.head())

print(X_train)
print(y_train)

    Pclass   Age  SibSp  Parch     Fare
1        1  38.0      1      0  71.2833
3        1  35.0      1      0  53.1000
6        1  54.0      0      0  51.8625
10       3   4.0      1      1  16.7000
11       1  58.0      0      0  26.5500
1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64
     Pclass   Age  SibSp  Parch      Fare
599       1  49.0      1      0   56.9292
544       1  50.0      1      0  106.4250
118       1  24.0      0      1  247.5208
689       1  15.0      0      1  211.3375
662       1  47.0      0      0   25.5875
..      ...   ...    ...    ...       ...
512       1  36.0      0      0   26.2875
336       1  29.0      1      0   66.6000
577       1  39.0      1      0   55.9000
268       1  58.0      0      1  153.4625
823       3  27.0      0      1   12.4750

[137 rows x 5 columns]
599    1
544    0
118    0
689    1
662    0
      ..
512    1
336    0
577    1
268    1
823    1
Name: Survived, Length: 137, dtype: int64

In [33]:
titanic_model = RandomForestClassifier(random_state=0)
titanic_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [34]:
predictions = titanic_model.predict(X_test)
print(accuracy_score(y_test, predictions))

0.6956521739130435