In [35]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

titanic_training_data = pd.read_csv('train.csv')

titanic_training_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [145]:
X = pd.get_dummies(titanic_training_data[["Pclass", "Sex", "SibSp", "Parch", "Fare"]])

y = titanic_training_data.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [400]:
titanic_model = RandomForestClassifier(random_state=0, min_samples_split = 10, max_leaf_nodes= 43)
titanic_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=43, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [401]:
predictions = titanic_model.predict(X_test)
print(accuracy_score(y_test, predictions))

0.8475336322869955

In [165]:
print(predictions)
0.8385

[0 0 0 1 1 0 1 1 1 1 0 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 1 1 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0
 1 1 0 1 1 1 1 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 1
 1 0 0 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 0
 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1
 0]

In [404]:
#
# Going to make my actual predictions file
#
X_train_submit = pd.get_dummies(titanic_training_data[["Pclass", "Sex", "SibSp", "Parch", "Fare"]])

y_train_submit = titanic_training_data.Survived

titanic_submit_data = pd.read_csv('test.csv')

X_test_submit = pd.get_dummies(titanic_submit_data[["Pclass", "Sex", "SibSp", "Parch", "Fare"]])

X_test_submit["Fare"] = X_test_submit["Fare"].fillna(0)

titanic_model_submit = RandomForestClassifier(random_state=0, min_samples_split = 10, max_leaf_nodes= 43)
titanic_model_submit.fit(X_train_submit, y_train_submit)

predictions_submit = titanic_model_submit.predict(X_test_submit)

In [405]:
output = pd.DataFrame({'PassengerId': titanic_submit_data.PassengerId, 'Survived': predictions_submit})
output.to_csv('kodyrogers_submission.csv', index=False)